<style>
.footer {
            background-color: black;
            color: white;
            padding: 20px 0px 20px 0px;
            text-align: center;
            
         
            width: 100%;



        }

        .footer a {
            color: white;
            text-decoration: none;
        }

        .footer .social-icons {
            margin-top: 10px;
        }

        .footer .social-icons a {
            margin: 0 10px;
            font-size: 20px;
        }
    </style>


<div class="footer">
    <p>&copy; 2025 Delicious Restaurant. All rights reserved.</p>
    <div class="social-icons">
        <a href="https://facebook.com" target="_blank">Facebook</a>
        <a href="https://instagram.com" target="_blank">Instagram</a>
        <a href="https://twitter.com" target="_blank">Twitter</a>
    </div>
</div>
